<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Parser</title>
    <link rel="stylesheet" href="../static/test.css" />
    
</head>
<body>
    <h1>C++ Parser</h1>
    
    <div id="editor-container">
        <div id="editor-wrapper">
            <div id="line-numbers">1</div>
            <textarea id="code-editor" spellcheck="false" placeholder="Write your C++ code here..."></textarea>
        </div>
        
        <div id="button-container">
            <button id="run-button" >
                <span class="play-icon"></span>
                Compile & Run
            </button>
        </div>
        
        <div id="output">Output will appear here...</div>
    </div>

    <script src="../static/test.js"></script>
</body>
</html>